body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #533738;
}

/* Grid */

[class*=__container] {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main Style */

/* HEADER */

.header {
  background-image: url(../images/hero-bg-img.jpg);
  /* add size & position */
}

.header__container {
  min-height: 715px;
}

.header__top {
  display: flex;
  align-items: center;
  padding-top: 36px;
}

.top__logo-link {
  display: block;
}

.top__nav {
  margin-left: 89px;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}



.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #533738;
}

.nav__item:not(:nth-child(1)) {
  margin-left: 27px;
}

.top__tel-link {
  display: block;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #533738;
}

.header__content {
  margin-top: 91px;
}

.header__content-title {
  max-width: 534px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24;
}

.header__content-text {
  max-width: 445px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.header__content-btn {
  display: inline-block;
  margin-top: 21px;
  padding: 25px 67px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1, 2;
  background-color: #cc8b86;
  color: #533738;
}

/* === About === */
.about__title {
  margin-top: 65px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.about__content {
  max-width: 1036px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.about__img {
  float: left;
  margin-right: 64px;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.about__text+.about__text {
  margin-top: 44px;
}

/* === EXPERIENCE === */
.experience {
  background-color: #8D7370;
}

.experience__row {
  max-width: 1036px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  padding-bottom: 81px;
}

.experience__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.experience__item {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.experience__number {
  display: block;
  text-align: center;
}

/* === WORKS === */
.works__title {
  margin-top: 65px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;
}

.work__link h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  color: #ffffff;
}

.work__link h3 span {
  display: block;
}

.work__link p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
}

.work__link--back {
  padding: 86px 35px 122px;
}

.work__link--front {
  position: relative;
  overflow: hidden;
}

.work__link--front:hover .work__link--back {
  opacity: 1;
}

.work__link--back {
  position: absolute;
  background-color: rgba(100, 72, 69, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .4s ease 0s;
}

.works__link-more {
  display: block;
  margin-top: 40px;
  margin-bottom: 65px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  color: #533738;
}

.works__link-more::after {
  content: url(../images/arrow-more.svg);
  padding-left: 10px;
}

/* === TEAM'S === */
.teams {
  width: 1399px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2c4ba;
}

.teams__container {
  padding-top: 50px;
}

.teams__title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.teams__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teams__card {
  max-width: 320px;
  margin-top: 40px;
}

.team-card__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

/* === HOW WE WORK === */
.how-we-work {
  width: 1399px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2c4ba;
}

.how-we-work__container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 80px;
}

.how-we-work__title {
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.how-we-work__list {
  display: flex;
  flex-wrap: wrap;
  counter-reset: item;
  list-style-type: none;
}

.how-we-work__item {
  display: block;
  max-width: 285px;

}

.how-we-work__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

.how-we-work__item::before {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  content: counter(item);
  counter-increment: item;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  background-color: #8d7370;
  color: #FFFFFF;
}

/* === Reviews === */
.reviews {
  width: 100%;
  background-color: #EFE6E4;
  padding: 65px 0;
}

/* .container {
  width: 1036px;
  margin: 0 auto;
} */

.reviews__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.slider {
  position: relative;
  padding-left: 130px;
}

.slider__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;
}

.blockquote__paragraph {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 33px;
}

.blockquote__paragraph:last-child {
  margin-bottom: 20px;
}

.blockquote__cite {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
}

.reviews__images-img {
  display: block;
}

.reviews__images-img:first-child {
  margin-bottom: 24px;
}

.slider__buttons {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background-color: #CC8B86;
  cursor: pointer;
}

.slider__button--next::before {
  content: url(../images/arrow-right.svg);
}

.slider__button--prev::before {
  content: url(../images/arrow-left.svg);
}

/* === LID'S & MAP === */
.lidmap {
  background-color: #8d7370;
}

.lidmap__wrap {
  width: 1118px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;

}

.lidmap__lid {
  width: 508px;
  background: transparent;
}

.lidmap__lid-title {
  padding-top: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
}

.lidmap__lid-subtitle {
  padding-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
}

.form {
  margin-top: 44px;
  position: relative;
}

/* .form__name,
.form__phone */
.form .form__name input,
.form .form__phone input {

  width: 100%;
  margin-bottom: 35px;
  padding: 10px 0;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  outline: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: #f6ede9;
}


.form .form__name label {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 14px;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

.form .form__phone label {
  position: absolute;
  top: 50;
  left: 0;
  padding-top: 14px;
  font-size: 16px;
  color: #ffffff;
  pointer-events: none;
  transition: .5s;
}

/* .form__name input:focus,
.form__name label:focus,
.form__ohone input:focus,
.form__name label:focus,
.form__name input:valid,
.form__name label:valid,
.form__phone input:valid,
.form__phone label:valid {
  top: -40px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
} */

.form__name {}

.form__phone {}

.form__button {}

.form__button-btn {
  margin-top: 31px;
  padding: 25px 67px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  border: none;
  background-color: #cc8b86;
  color: #533738;
}

.lidmap__map {}

.lidmap__map-img {}
