body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #533738;
}

[class*=__container] {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-image: url(../images/hero-bg-img.jpg);
}

.header__container {
  min-height: 715px;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 36px;
}

.top__logo-link {
  display: block;
}

.top__nav {
  margin-left: 89px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #533738;
}

.nav__item:not(:nth-child(1)) {
  margin-left: 27px;
}

.top__tel-link {
  display: block;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #533738;
}

.header__content {
  margin-top: 91px;
}

.header__content-title {
  max-width: 534px;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24;
}

.header__content-text {
  max-width: 445px;
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.header__content-btn {
  display: inline-block;
  margin-top: 21px;
  padding: 25px 67px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  background-color: #cc8b86;
  color: #533738;
}

.about__title {
  margin-top: 65px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.about__content {
  max-width: 1036px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.about__img {
  float: left;
  margin-right: 64px;
}

.about__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.about__text+.about__text {
  margin-top: 44px;
}

.experience {
  margin-top: 20px;
  background-color: #8D7370;
}

.experience__row {
  max-width: 1036px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 65px;
  padding-bottom: 81px;
}

.experience__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}

.experience__item {
  display: block;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  text-transform: uppercase;
  color: #ffffff;
}

.experience__number {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.24;
  text-transform: uppercase;
  color: #ffffff;
}

.works__title {
  margin-top: 65px;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.works__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  row-gap: 30px;
}

.work__link h3 {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  text-align: center;
  color: #ffffff;
}

.work__link h3 span {
  display: block;
}

.work__link p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
}

.work__link--back {
  padding: 86px 35px 122px;
}

.work__link--front {
  position: relative;
  overflow: hidden;
}

.work__link--front:hover .work__link--back {
  opacity: 1;
}

.work__link--back {
  position: absolute;
  background-color: rgba(100, 72, 69, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: .4s ease 0s;
  -o-transition: .4s ease 0s;
  transition: .4s ease 0s;
}

.works__link-more {
  display: block;
  margin-top: 40px;
  margin-bottom: 65px;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.23;
  color: #533738;
}

.works__link-more::after {
  content: url(../images/arrow-more.svg);
  padding-left: 10px;
}

.teams {
  width: 1399px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2c4ba;
}

.teams__container {
  padding-top: 50px;
}

.teams__title {
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.teams__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.teams__card {
  max-width: 320px;
  margin-top: 40px;
}

.team-card__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.how-we-work {
  width: 1399px;
  margin-left: auto;
  margin-right: auto;
  background-color: #e2c4ba;
}

.how-we-work__container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 35px;
  padding-bottom: 80px;
}

.how-we-work__title {
  padding-bottom: 40px;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
}

.how-we-work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  counter-reset: item;
  list-style-type: none;
}

.how-we-work__item {
  display: block;
  max-width: 285px;

}

.how-we-work__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  text-align: center;
}

.how-we-work__item::before {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 20px;
  content: counter(item);
  counter-increment: item;
  font-weight: 500;
  font-size: 30px;
  line-height: 1;
  background-color: #8d7370;
  color: #FFFFFF;
}

.reviews {
  width: 100%;
  background-color: #EFE6E4;
  padding: 65px 0;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
}

.slider {
  position: relative;
  padding-left: 130px;
}

.slider__list {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.blockquote__paragraph {
  margin: 0;
  margin-bottom: 33px;

  font-size: 18px;
  line-height: 30px;
}

.blockquote__paragraph:last-child {
  margin-bottom: 20px;
}

.blockquote__cite {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  text-transform: uppercase;
}

.reviews__images-img {
  display: block;
}

.reviews__images-img:first-child {
  margin-bottom: 24px;
}

.slider__buttons {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.slider__button {
  position: relative;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: none;
  background-color: #CC8B86;
  cursor: pointer;
}

.slider__button--next::before {
  content: url(../images/arrow-right.svg);
}

.slider__button--prev::before {
  content: url(../images/arrow-left.svg);
}

.lid {
  background-color: #8d7370;
}

.lid__container {
  width: 1118px;
  margin-right: auto;
  margin-left: auto;
}

.lid-row {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
}

.lid__form {
  position: relative;
  width: 508px;
  background: transparent;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.lid__form-title {
  margin-top: 50px;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #ffffff;
}

.lid__form-subtitle {
  margin-top: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
}

.form {
  margin-top: 44px;
}

.lid__form .input-wrap {
  position: relative;
}

.lid__form .input-wrap input {
  width: 100%;
  margin-bottom: 35px;
  padding: 14px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  /* color: #f6ede9; */
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.lid__form .input-wrap label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 14px 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
  color: #f6ede9;
  pointer-events: none;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.lid__form .input-wrap input:focus~label,
.lid__form .input-wrap input:valid~label {
  top: -20px;
  left: 0;
  font-size: 14px;
  color: #f6ede9;
}

.lid__form-btn {
  padding: 25px 67px;
  font-family: inherit;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #533738;
  background-color: #cc8b86;
  border: none;
}

.lid__map-map {
  width: 100%;
  width: 590px;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 37px;
  padding-bottom: 37px;
}

.footer__link-phone {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  color: #533738;
}

.footer__address {
  margin-left: 42px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}

.footer__biz {
  margin-left: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
}
